[2015-08-21 05:48] kesne opened #6 "Logging"
We probably should figure out how we're going to handle logging. Our console logs aren't going to cut it in production.

What I propose is that we write a really small logging API that by default just wraps console. It provides all of the same log levels that console does (error, warn, info, log). You can set the log level via the config to hide logging and keep things quiet in prod.

As a bonus,

[2015-08-21 05:51] kesne opened #7 "Config should merge everything"
Instead of forcing users to either config via the files or with the passed in options, we should probably allow overrides at every level. I think it makes sense that config files are lower specificity than code, so I think the order of loading configuration could be as follows:

1. Load the `eureka-client.yml` config. (this is the base config)
2. Merge the `eureka-client-${env}.yml` config into th

[2015-08-21 05:52] kesne commented on #7
Unless anyone has an issue with this I'll probably implement it as described.

[2015-08-21 05:52] kesne commented on #6
Might make sense for #7 to resolve and use the provided options object to pass in a logger.

[2015-08-21 06:21] kesne opened #8 "Create Async Pattern"
Right now, there's a problem in that we have no idea when stuff is done (outside of inspecting some state  from the outside (not good)). This is mainly a problem with a lot of the calls that require our internal caches to be filled. If you try to make those calls before there is cached data, the call throws an error. But you can never know when those are filled.

For example, the following always

[2015-08-21 06:29] micahr commented on #6
I'd suggest taking a logger as a configuration option, then defaulting to Bunyan.

[2015-08-21 06:30] micahr commented on #7
`Object.assign` is a great way to merge the configurations together, using a priority of base -> env -> passed in config.

[2015-08-21 06:32] kesne commented on #7
Object.assign doesn't do deep merging though, which I thought was kind of essential in this case?

[2015-08-21 06:34] kesne commented on #6
Is defaulting to bunyan desired in this case though? I would make an argument that defaulting to just console is a little more sensible.

[2015-08-21 06:37] micahr commented on #8
Seems to me that every method should be async, especially considering the http calls that are made.

[2015-08-21 17:03] jquatier commented on #8
+1 for async all the things.

[2015-08-21 17:07] jquatier commented on #7
Yeah, in most cases all the settings will be the same for different environments and you really just need to change 1 value (like the eureka host in your `-test.yml` config, for example). The other values should inherit from your base configuration.

[2015-08-21 17:12] jquatier commented on #6
Since we really only have 2 log statements and aren't using multiple log levels or anything Bunyan feels like overkill, at least at the moment. I guess I could go either way. Offering the mechanism to use Bunyan would be great though if it's not the default.

[2015-08-21 17:48] kesne commented on #8
Currently the `getInstancesByAppId()` calls aren't async though, because they check against a local cache that is updated at an interval.

[2015-08-21 18:09] jquatier commented on #8
True, async where we need to I guess. Currently, that's just register but I'm going to add other calls that will need it.

[2015-08-21 20:56] kesne opened #11 "Stop doing everything in constructor?"
Would it make sense to have the constructor just prepare the client instance, and then expose the register/fetchRegistry methods (or a `start` method that does both)?

The benefit of doing that is it makes testing stuff a lot easier. Otherwise we kind of have to stub those calls every time we try to test the constructor, which is less than ideal.

[2015-08-21 21:37] jquatier commented on #11
:+1: I'm good with that. I do think heartbeats should start after register though.

[2015-08-21 21:42] kesne commented on #11
Or should heartbeats happen after registration has been completed?

[2015-08-21 21:42] kesne commented on #11
That makes sense to me. I'll implement it in the next PR.

[2015-08-21 23:00] daveedgarcia commented on #11
Up vote on this one. I held off on testing because of this reason.

[2015-08-22 02:00] #7 closed

[2015-08-22 18:29] kesne commented on #6
So I'm almost through implementing this and here's the route I've taken:

I created a Logger class with an API closely matching that of Bunyan. It's missing a couple log levels and just calls to console, but that's all you really need out of the box. In the constructor, you can pass the logger via the `logger` parameter on the configuration object. As a bonus, because the API is compatible with Bu

[2015-08-22 19:03] daveedgarcia commented on #11
Is someone taking this or should I take it?

[2015-08-22 21:12] kesne commented on #11
Fixed by #13.

[2015-08-22 21:12] #11 closed

[2015-08-22 21:12] kesne commented on #8
Fixed by #13.

[2015-08-22 21:12] #8 closed

[2015-08-22 21:12] kesne commented on #6
Fixed by #13.

[2015-08-22 21:12] #6 closed

[2015-08-23 02:35] kesne opened #14 "Include babel config"
We should update the babel config to control what we're generating.
Specifically, we probably want to turn loose mode on.

[2015-08-23 02:36] kesne opened #15 "We broke Semver!"
The 1.4.0 release broke semver compat.

What are our release versioning plans.

[2015-08-23 02:56] jquatier commented on #15
You must have assumed we were doing semver already. 1.4 seems like a good place to start.

[2015-08-23 02:56] #15 closed

[2015-08-23 19:43] daveedgarcia opened #17 "Integration Tests using Eureka Docker Image"
Should we add a script for downloading the Eureka Docker Image. We could then write an integration test that does the registration, heartbeat, registration and deregister.

[2015-08-23 21:32] jquatier commented on #17
Yeah I wonder what that would look like. Do we assume they already have Docker and at least the default docker machine set up? Seems like we need something at least. I did add a wiki page for running Eureka server, for now.

[2015-08-24 01:12] daveedgarcia commented on #17
Yeah I think it would be reasonable to have a gulp task that a task that downloads the image and starts it up. We could just update the README to get Docker setup and installed before using.

[2015-08-24 18:31] kesne commented on #14
Closed via #18.

[2015-08-24 18:31] #14 closed

[2015-08-24 21:31] kesne commented on #17
We can automate the docker setup in the travis build script: http://docs.travis-ci.com/user/docker/

[2015-08-25 03:37] jquatier opened #19 "Cache inconsistency"
Currently if there's only 1 instance for an application the entry in the cache is just an object representing that instance. If there's more than one instance (the likely scenario), the cache entry is an array of instances. We should probably transform those single instance application entries into an 1 item array for API consistency.

[2015-08-25 03:41] daveedgarcia commented on #19
Actually working on this right now. Wrapping up the tests.

[2015-08-25 03:51] jquatier commented on #19
I thought you might be :+1:

[2015-08-25 04:45] #19 closed

[2015-08-25 06:45] jquatier opened #21 "Deregister Capability"
We need to add a deregister method to allow instances to take themselves out of Eureka.

[2015-08-28 03:54] kesne opened #23 "Optionally allow auto-deregister on downtime."
Should we listen for when the process is exiting and automatically fire out a de-register if we boot with a config option that tells us to? I think it could be useful.

[2015-08-31 07:38] jquatier commented on #23
Should be able to call the new stop() method from #24. Should we add a listener in our module for the 'exit' event?

[2015-08-31 07:41] jquatier commented on #21
Added in #24.

[2015-08-31 07:41] #21 closed

[2015-09-02 21:56] kesne commented on #23
I'm thinking optionally yeah. By default, maybe not, but it could be a configuration option.

[2015-09-03 22:35] kesne opened #25 "Extract configuration module"
As we expand into more projects that we're doing under RWD, we probably want the configuration loader here to be a separate module, so that we can have a uniform way of configuring the different pieces of your application.

[2015-09-24 01:31] maksimlikharev opened #26 "eureka REST endpoint is not generally correct"
return 'http://' + this.config.eureka.host + ':' + this.config.eureka.port + '/eureka/v2/apps/';

in suffix: '/eureka/v2/apps/', this is not generally how that done, prefix 'eureka' for the path, depends on deployment or might be missing at all, so this has to be configured.

[2015-09-24 05:00] #26 closed

[2015-09-24 05:05] jquatier commented on #26
@maksimlikharev This should now be available in version 1.6.0 of this module. Just upgrade your dependency version and you should be good to go. Just set eureka.servicePath in your configuration.

[2015-10-26 19:36] majgis opened #29 "Silent Failure"
I'm following your example in the readme and I can't get it to work.  It also silently fails.  How do I go about finding where it is failing?

[2015-10-26 21:01] jquatier commented on #29
@majgis Could you try turning request debugging on?
try running: `NODE_DEBUG=request node example.js`
Make sure the URLs it's calling are what you expect and that you can hit them in your browser.

Also (I'm going to update the example with this), but you need to catch the error that comes back from start:
client.start(function(error){
  console.log(error);
});

I'll update the readme with both of

[2015-10-26 21:31] majgis commented on #29
Both of those pieces of information were helpful, thank you for adding them to the readme.  I see the issue now.

[2015-10-26 21:51] jquatier commented on #29
No problem! Glad you figured it out. :+1:

[2015-10-26 21:51] #29 closed

[2015-10-27 13:14] majgis opened #30 "Add option to disable polling for instance info"
If your application only needs to register with eureka and doesn't need information on other instances, there is no option to disable polling to /eureka/v2/apps.

I propose allowing eureka.registryFetchInterval set to a value to allow disabling of polling.

Would you accept a pull request?

What should getInstancesByAppId and getInstancesByVipAddress return?  Empty arrays?
What value should eureka

[2015-10-27 16:36] jquatier commented on #30
I think to be more consistent with the Java client we should just have a fetchRegistry flag that defaults to `true`. So, modify the default-config.js and set it to true, and then users can optionally set their configurations to false. You shouldn't need to change the getInstances methods; those will just throw an error if an instance isn't found because the cache will be empty. Would gladly accept

[2015-10-27 18:41] kesne commented on #30
One thing we could consider is changing the error message if `fetchRegistry` is set to false that way it's clear why the methods for accessing instances are throwing.

[2015-10-28 21:15] majgis commented on #30
It is looking like I would get to a PR later rather than sooner, so it is
best that you add this feature.  It would be much appreciated, thank you!

On Tue, Oct 27, 2015 at 12:41 PM, Jordan Gensler <notifications@github.com>
wrote:

[2015-10-28 21:40] kesne commented on #30
Sure, I'll tackle this tonight

[2016-01-06 05:13] #30 closed

[2016-01-07 03:30] jquatier commented on #30
Version 1.7.0 now has the `fetchRegistry` option.

[2016-01-07 15:03] majgis commented on #30
Thank you!
On Jan 6, 2016 20:30, "Jacob Quatier" <notifications@github.com> wrote:

[2016-01-12 07:25] jquatier opened #32 "AWS Metadata required when datacenter == Amazon"
Currently, we let users that implement this module define all the required metadata that they want to register with Eureka. This works fine if datacenter is set to anything other than `Amazon`, like if you were using `MyOwn`, for example. If you do set dataCenterInfo.name to `Amazon`, the Eureka server actually requires that you post a bunch of AWS metadata to it. See [the XSD](https://github.com/

[2016-01-12 07:53] kesne commented on #32
Good catch, definitely should be in the module.

[2016-01-12 07:54] kesne commented on #32
FWIW this _might_ be considered a breaking change, because if you implemented the module previously, none of the metadata would be sent by default.

[2016-01-20 04:21] #32 closed

[2016-01-20 04:47] kesne commented on #23
Okay so what if we do a `deregisterOnCrash` flag that is set to true by default, and then add process event listeners for `uncaughtException` and `beforeExit`, and check if the flag is true. If it is, call `stop`.

[2016-01-20 04:47] kesne commented on #25
Prooooobably not required because we aren't splitting modules.

[2016-01-20 04:47] #25 closed

[2016-01-20 06:09] daveedgarcia commented on #23
+1 @kesne

[2016-01-20 06:26] jquatier commented on #23
It feels a little aggressive. The deregister is going to happen automatically when the heartbeats fail. Also it makes it so you would probably never see DOWN in Asgard like we do today, it would show N/A instead because the instance wouldn't be registered at all. The Eureka status page would also look fine because it wouldn't show anything is down, you would have to notice that there's all the sud

[2016-01-20 07:32] kesne commented on #23
At the very least we should call stop on beforeExit optionally, because those are times you intentionally kill the process, where `DOWN` is not a good descriptor.

The main idea here is to notice the instances are down faster than the heartbeat can tell.

[2016-01-21 21:52] jquatier opened #34 "Make config YAML location configurable"
There are some people in this world that want to be able to put their eureka YAML configurations in a different directory than the project root. This should be fairly easy to add as a configurable value, still defaulting to the current work directory.

[2016-01-22 04:45] kesne commented on #34
Maybe a `cwd` option in the constructor?

[2016-01-23 05:11] jquatier commented on #23
Totally understand the idea. I think calling stop on beforeExit sounds good (and a config option to disable), because it's intentional.

For uncaught exceptions let's just let the heartbeats fail as normal. With node process managers that auto-restart, users already have options to bring their app back up quickly to minimize periods where instances are down and Eureka isn't aware yet. Also under t

[2016-01-23 05:13] jquatier commented on #34
:+1:

[2016-01-24 21:29] kesne opened #35 "Export Eureka as default"
So, when we first made this module, we were looking towards Babel 6, where exports change. Default exports in Babel 6 need to be imported with an extra `.default` in ES5 environments. For example:

[code]

Because of this, we decided to just embraced named exports, and export the Eurka class as a named export. However, now that Babel 6 has dropped, and we can move to it, there's another option, wh

[2016-01-24 21:30] kesne commented on #34
Working on this now.

[2016-01-28 04:49] kesne commented on #34
Okay this should be good. We can close this when you release.

[2016-01-28 05:27] #34 closed

[2016-01-28 05:54] jquatier opened #38 "Debug message for host unreachable scenario"
Currently if there is a problem with the Eureka host or port you have specified, or if the host is unreachable, you won't see any kind of error until that connection request times out. This setting is at the OS level and can be up to 2 minutes or more. The `request` module has a timeout setting, but that only applies on a read timeout, not a connection timeout.

I think it would be helpful to outp

[2016-01-28 07:20] kesne commented on #35
Actually, I'm gonna nuke this. Default importing for babel environments will be added in #39.

[2016-01-28 07:20] #35 closed

[2016-02-01 01:41] jquatier commented on #17
We can do this now that I figured out what the problem was. We should run these tests after coveralls so that the coverage numbers only reflect the actual unit tests.

Successful startup and cURL request:
https://travis-ci.org/jquatier/eureka-js-client/jobs/106119219

[2016-02-01 04:54] kesne commented on #17
Awesome!!!

[2016-02-01 05:39] jquatier commented on #38
Available in v2.2.0

[2016-02-01 05:39] #38 closed

[2016-02-01 17:19] jquatier opened #40 "Cache DNS queries"
Saw an issue over the weekend where a DNS query failed: [Error: queryTxt ETIMEOUT]

I think we should probably cache the results of the DNS lookups because they change rarely, especially the top level TXT record. The JVM does this internally.

Also there's a undefined reference in the renew() method on response.statusCode when this happens.

[2016-02-04 04:47] jquatier commented on #40
Doing some research... It sounds like Node doesn't handle DNS caching because that should be handled by the OS. Maybe we should just continue to let it throw if the query fails, except specifically wrap the heartbeat in a try catch so that it'll retry again in 60 seconds. Thoughts?

[2016-03-04 14:16] mogensen opened #42 "Option for setting instanceId."
We have the need to run multiple instances of the same service on the same host machine.
This is not possible then the InstanceId field is automatically defined using the hostname.

I would like the option to set the instanceId field in the configuration array for the Eureka client.

[2016-03-04 17:46] kesne commented on #42
Does it sound reasonable to set it under `instance.id`? Then we would pick the `instanceId` by first checking if that is defined, before defaulting to the `hostname`.

Looping in @jquatier for eureka knowledge.

[2016-03-04 18:03] jquatier commented on #42
Yeah, I think the question would be whether this is in a AWS environment or not, and what should we do in that scenario. Currently, if its AWS it will pull the instance ID from the AWS metadata. I guess to cover both AWS an non-AWS you would want to do something like this:

[code]

[2016-03-05 21:41] mogensen commented on #42
Yes. That that would solve the problems we have. :+1:

[2016-03-05 23:05] kesne commented on #42
I'll write up a PR later today for this.
On Sat, Mar 5, 2016 at 1:41 PM Frederik Mogensen <notifications@github.com>
wrote:

[2016-03-06 20:08] #42 closed

[2016-03-06 22:59] jquatier commented on #42
The option is available in v2.3.0 of the module. Update your `package.json` and try it out. Thanks @kesne for getting this in.

[2016-03-09 22:59] jquatier opened #46 "Update docs for JSON POST format on registration"
JSON formatting of `port` and datacenter information.

[2016-03-16 14:52] mogensen opened #47 "If renewals fails with 404 we need to register again"
Hi,

If the lease of the eureka-client somehow runs out, without the heartbeat reaching the Eureka server, we need to register the application again.
This is handled by the Eureka server by responding to the renewal request with the status code 404.

See the Netflix implementation to : https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/discovery/DiscoveryClient.j

[2016-03-16 15:56] jquatier commented on #47
Good callout. This should be fairly easy to implement. We can just make `renew()` call `register()` on a 404. One thing we might want to do is move the `startHeartbeats()` and `startRegistryFetches()` calls out of `register()` and into `start()` so that we don't have double the intervals when this happens. Other than that, should be a small code change + adding a unit test.

[2016-03-16 17:10] jquatier commented on #17
Completed last week.

[2016-03-16 17:10] #17 closed

[2016-03-17 14:21] talbe1992 opened #48 "Proxy configuration and getinstances by status"
Hi!
First, great work!
I work in a big corporate which uses proxy.
Maybe you can include in the default2 requester a configurable proxy, taken from the YML.

Also, by getting the instances, it will be nice to get only the UP services :)

Thanks!

[2016-03-17 16:09] jquatier commented on #48
`request` will actually honor the `HTTP_PROXY` and `HTTPS_PROXY` environment variables if you set those.

`export HTTP_PROXY=http://some.proxy.com:8080`

Would that work for your use case? It seems like its probably only a problem for local development, so environment variables might work, and your configuration could stay the same. We could also make it configurable on the client itself since `re

[2016-03-20 15:56] talbe1992 commented on #48
Hi.
For my case it will be necessary to configure the proxy. because I use my corporate local network and also I use internet services via proxy. So it will be nice to have proxy config.

As for the filtering, it will be good to have.

Thanks!

[2016-03-25 05:19] jquatier commented on #47
Fixed in #50. Available in [v2.4.0](https://www.npmjs.com/package/eureka-js-client). Thanks again to @mogensen and @xanderv87.

[2016-03-25 05:19] #47 closed

[2016-03-25 05:32] jquatier commented on #40
Decided this should be handled at the OS level. Under Ubuntu this would probably be done be enabling caching with `dnsmasq `

[2016-03-25 05:32] #40 closed

[2016-03-29 04:25] jquatier commented on #46
Done.

[2016-03-29 04:25] #46 closed

[2016-03-31 21:20] jquatier commented on #48
Cool, I'll take a look when I get some time.

[2016-04-05 12:44] tbfangel opened #51 "Optionally use local IP when deployed in AWS"
Hi,

We use eureka-js-client in our AWS deployment where all our services are accessed through zuul and zuul should be the only component deployed with a public IP. Currently, in an AWS setup the ip and hostname used to register in Eureka is automatically pulled from the AWS metadata `public-ipv4` and `public-hostname` in the function `addInstanceMetadata`. This requires us right now to deploy our

[2016-04-05 14:58] jquatier commented on #51
That makes sense. When I wrote the metadata fetching code I copied what the Java client does, which is grab the public hostname. See `getHostName' here: https://github.com/Netflix/eureka/blob/master/eureka-client/src/main/java/com/netflix/appinfo/CloudInstanceConfig.java

Anyway, I understand the need and would gladly accept a PR with a `useLocalMetadata` option and a unit test if you're intereste

[2016-04-06 09:09] tbfangel commented on #51
Thanks for the quick reply! I'll implement it and supply a PR - hopefully by the end of next week.

[2016-04-16 04:00] jquatier commented on #46
Available in v2.5.0. Thanks!

[2016-04-18 00:40] jquatier commented on #51
Fixed in #53 and available in v2.5.0

[2016-04-18 00:40] #51 closed

[2016-04-18 21:15] brandongk60 opened #54 "Unexpected token - GZipped responses cause Eureka interactions to fail"
When the server returns GZipped responses, they are parsed to JSON before being unzipped.  This produces an error:

REQUEST emitting complete http://192.168.99.100:8080/eureka/v2/apps/
retrieved registry successfully

SyntaxError: Unexpected token
    at Object.parse (native)
    at Request._callback (/Users/brandongk/Desktop/old-freshgrade/eureka-js-client/lib/EurekaClient.js:370:41)
    at Reque

[2016-04-18 21:15] brandongk60 commented on #54
PR #55.

[2016-04-20 03:01] jquatier commented on #54
Fixed in #55 and available in v2.5.1. Thanks!

[2016-04-20 03:01] #54 closed

[2016-04-20 03:18] jquatier commented on #54
For posterity... It looks like in later versions of Eureka it ignores the `Accept-Encoding` header and always sends gzipped content down no matter what. This was added in August of 2015 due to the size of the response and most modern clients/browsers supporting gzip. So, that's probably why this is an issue now, because even though we weren't sending `Accept-Encoding: gzip`, later Eureka versions

[2016-04-21 12:04] tbfangel opened #56 "AWS metadata submitted to the Eureka server contains nulls for public-ipv4 and public-hostname when running the client with useLocalMetadata=true"
In continuation of #51: The AWS metadata submitted to the Eureka server when registering will alsways contain all the fields defined in AwsMetadata. When running the service in the private, values for `public-ipv4` and `public-hostname` will be null. This causes Eureka to choke when requesting the instance resource on /eureka/apps.

This could be considered a bug in the Eureka server, but the clie

[2016-04-26 22:43] #56 closed

[2016-04-26 22:58] jquatier commented on #56
Available in v2.5.2. Thanks @tbfangel!

[2016-04-28 09:35] noseglid opened #58 "Use winston logging library"
First off, thanks for building this client! It makes it easy for us to test out other technologies than Java without replacing our whole stack in one bang!

I think you should use a common logging library rather than a custom implementation. I'd vote for [winston](https://github.com/winstonjs/winston) which I've had good experiences with in the past. It would also allow me to redirect all logging

[2016-04-28 13:44] noseglid commented on #58
After looking through the code, I noticed that it's perfectly compatible to pass the `winston` logger as a configuration when creating the Eureka client.

[2016-04-28 13:44] #58 closed

[2016-04-28 20:09] jquatier commented on #58
@noseglid Glad you found the module useful!

[2016-04-28 21:45] jquatier opened #59 "Exceptions from a DNS lookup failure on a heartbeat are not caught"
Currently if DNS lookup were to fail, an uncaught exception is thrown from `buildEurekaUrl` when it tries to find a host to connect to and heartbeats stop, etc. We should catch / log this so heartbeats continue to execute on interval, and hopefully subsequent DNS lookups and heartbeats will succeed.

Catching the error in `renew` should work for this. If this happens on the initial `start()` or re

[2016-05-08 17:05] danielbayerlein opened #62 "eureka registration FAILED: status: 404 body: undefined"
Hi @jquatier,

I have a problem with the register of an application.

[code]

Eureka 1.4.6 runs on http://localhost:8761/

_server.js_
[code]

_package.json_
[code]

Any idea?

[2016-05-08 18:43] jquatier commented on #62
For one, `dataCenterInfo.name` is not a valid value. Try setting it to `MyOwn` because the server uses that to map it to the right config type. I would also turn on debug, `NODE_DEBUG=request node app.js` to see that URLs it's hitting. Make sure you can hit your eureka server at localhost:8671/eureka. Post yhe full debug log if you are still having issues.

[2016-05-08 18:55] danielbayerlein commented on #62
[code]

The Eureka-GUI is accessible at http://localhost:8761. Is that the problem?

[2016-05-08 19:22] jquatier commented on #62
That could be the issue. Perhaps your setup has eureka under the root instead of `/eureka`. If you hit `http://localhost:8761/v2/apps` do you get the service response? If so, set `eureka.servicePath` in your config to `/v2/apps` instead of the default `/eureka/v2/apps`.

[2016-05-09 09:08] danielbayerlein commented on #62
http://localhost:8761/v2/apps returns 404, too.

My Eureka-Server is a simple Spring-Boot application with the spring-cloud-starter-eureka-server dependency.

[2016-05-09 14:40] jquatier commented on #62
I looked up the Spring Cloud docs and it looks like the REST service is hosted at: http://localhost:8761/eureka/apps

Assuming that URL works in your browser, set `eureka.servicePath` in your config to `/eureka/apps`

[2016-05-09 18:19] danielbayerlein commented on #62
Oh sorry - RTFM ...

Now I get a 400 Bad Request from the Eureka server. I followed your instructions at known issues.

My current configuration:

[code]

The console output from the Node.js server:

[code]

When I call the Eureka dashboard, I get an 500 Internal Server Error. The console output from the Eureka server:

[code]

Sorry for the trouble!

[2016-05-09 18:30] danielbayerlein commented on #62
Workaround for this issue:

[code]

@jquatier Thanks for your great support!

[2016-05-09 18:30] #62 closed

[2016-05-09 20:39] jquatier commented on #62
Cool. I didn't notice you weren't passing statusPageUrl, I'm guessing that's required, or something. Weird that it throws a NPE. Glad it's working!

[2016-05-09 20:48] jquatier commented on #59
Fixed in v3.0.0

[2016-05-09 20:48] #59 closed

[2016-05-09 20:54] jquatier commented on #48
@talbe1992 We release 3.0.0 today which filters UP instances by default.

As for the proxy configuration stuff, we decided to not instrument the code with proxy config. We looked at how this is handled in various other modules and usually users just pass in variables for `request` when they start their app. This allows the proxy setting to only affect the node process, which was your concern above

[2016-05-09 20:54] #48 closed

[2016-05-20 13:31] mtheus opened #63 "Spring Cloud Neflix Support"
Hello Friend!

I'm almost giving up to use your API, can you help me do make a working example?

1) Start our springcloud eureka app

`docker run -it -p 8761:8761 springcloud/eureka`

Check if it's up: [here](http://localhost:8761/)

2) Try to run my example:

[code]

Now see my logs:

[code]

[2016-05-20 16:28] jquatier commented on #63
This has come up a [couple](https://github.com/jquatier/eureka-js-client/issues/62) of [times](http://stackoverflow.com/questions/37188035/how-node-js-app-register-to-spring-eureka), so I added a section to the README [here](https://github.com/jquatier/eureka-js-client#404-not-found-errors-from-eureka-server).

I would modify the `eureka` section of your config to:

[code]

[2016-05-20 16:50] mtheus commented on #63
Thanks for your answer:

I tryed servicePath: '/eureka/apps' and a figure out this error above: ( missing "/" )

[code]
So I Tryed

`servicePath: '/eureka/apps/'`

And after that my eureka crashed:

And in the LOG:

[code]
It's some thing missing in your protocol implementation?

[2016-05-20 17:06] mtheus commented on #63
So I tryed to figure out in the code.. follow my analisys:

1) https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-eureka-server/src/main/java/org/springframework/cloud/netflix/eureka/server/EurekaController.java#L255
2) https://github.com/spring-cloud/spring-cloud-netflix/blob/5c2937b05c5aeeb9a4e3c180afffa674efdd9d8d/spring-cloud-netflix-eureka-server/src/main/ja

[2016-05-20 17:07] jquatier commented on #63
Alright, sounds like setting that service path worked because it's calling Eureka. I can assure you this client works with Spring Cloud, we have several groups using it that way. That error looks like its coming from the Spring Cloud code when it tried to download the full registry and parse all the applications. It still looks very similar to the issue reported [here](https://github.com/jquatier/

[2016-05-20 17:20] mtheus commented on #63
Any ideas?

Erros in the client:

[code]

Errors in the Server:

[code]

and ..

[code]

and ..

[code]

[2016-05-20 17:26] mtheus commented on #63
Oh God..

[code]

[2016-05-20 17:30] jquatier commented on #63
Sweet. Glad you got it working!

[2016-05-20 17:30] #63 closed

[2016-06-28 13:21] noseglid commented on #23
I don't think this should be the responsibility of the eureka client. It provides a `stop` method which does all the necessary operations. Any consumer should preferrably close it gracefully before terminating.

In the event of a crash, Eureka correctly removes the service when heartbeats fail. Clients using the service must have circuit breakers built in (as theres no way to guarantee that we wil

[2016-06-28 15:51] jquatier commented on #23
I'm good with that. Thanks for providing your thoughts!

[2016-06-28 15:51] #23 closed

[2016-06-29 23:06] jquatier opened #68 "Implement improved cluster resolution strategies"
This was discussed in #67 but we need the ability to support zone affinity the same way the Eureka Java client does. In addition to this it would be helpful to allow a statically defined list of servers for each zone while also allowing a `default` zone. I propose we add this into the v4 candidate branch.

[2016-07-05 15:26] caccialdo opened #75 "Add basic round robin load balancing"
The java client for Eureka (aka Prana) seems to implement a "basic" load balancing strategy (round robin) according to [this article](http://southworks.com/blog/2015/09/28/netflix-oss-common-runtime-services-libraries/).

Is there any plan to add it to this library?

[2016-07-05 16:15] daveedgarcia commented on #75
I would take a look at the [Prana Wiki](https://github.com/Netflix/Prana/wiki). Prana is an application that sits along side your non JVM based projects and provides functionality like load balancing and service discovery. Load balancing functionality in the Netflix OSS ecosystem is provided by a library called Ribbon while Eureka is meant for service discovery. I'm not sure adding load balancing

[2016-07-05 16:26] caccialdo commented on #75
No worries. Let's close this one then

[2016-07-05 16:26] #75 closed

[2016-07-05 16:29] jquatier commented on #75
Agreed. The blog post you linked to is a little bit misleading because it says the Eureka client has a built-in load balancer, which is not correct. Anyway, keep us posted if you find a good Ribbon-like load balancer. Thanks!

[2016-07-05 16:41] caccialdo commented on #75
👍

[2016-08-12 18:49] dflor003 opened #82 "Add support for authentication"
Correct me if I'm wrong, but there doesn't seem to be a way to plug in authentication mechanisms such as an `authorize` header when communicating with eureka.

Are there plans for extending the client for this?

The specific use case I'm running into auth issues with is when trying to integrate this into Pivotal's Cloud Foundry cloud services.

[2016-08-13 22:54] fmmontas commented on #82
+1

[2016-08-14 03:22] jquatier commented on #82
We've got an upcoming PR (Thanks @awolden!) that will add support for this in the v4 branch. The implementation in v4 is slightly different than it would be in master so I suggest this goes into v4 (with a few other new features we've been developing). Anyway, we'll add you guys to the PR so you can take a look. Thanks for the report!

[2016-08-14 03:28] jquatier commented on #68
Completed in v4 branch.

[2016-08-15 13:19] dflor003 commented on #82
Awesome! Glad to hear. I was actually about to submit a PR for this myself. I'll take a look and see if I can pull that version for testing. Thanks!

[2016-08-16 20:14] #68 closed

[2016-08-16 20:18] jquatier commented on #82
Should be ready to go in v4.0.0. Thanks @dflor003 for helping us with this feature! If you are interested, I'd love a short snippet in the README about integration with Cloud Foundry (similar to what we have to Spring Cloud. It might help others who stumble upon our project from Google.

[2016-08-16 20:18] #82 closed

[2016-08-16 23:42] dflor003 commented on #82
Sounds good. I'm actually still working through all of the issues with eureka itself, but once I have it all ironed out, I'd be happy to submit some documentation on getting it setup in Cloud Foundry (which I think uses Spring Cloud underneath the hood).

[2016-08-18 17:58] mhamann opened #86 "Enable read-only scenarios"
There are times when you don't want to register a service / instance with Eureka, but only want to discover other registered apps (i.e. read-only).

Currently, this module requires passing in an `instance` object with certain values set; however, I think it would be desirable to pass in an option like `registerInstance: false` that then makes the `instance` object optional as part of constructing

[2016-08-18 19:36] jquatier commented on #86
I think my question would be if you still want the client to refresh the registry on interval or if you want to call `fetchRegistry(callback)` yourself. It seems like it might be useful to still be able to call `start()` and have the client keep the registry up to date, but make the `register()` call be a no-op. That way you can just call `getInstancesByAppId` etc like normal.

[2016-08-19 02:32] mhamann commented on #86
Yes, I agree. Calling `start()` should still be a thing and the registry should fetch by default per usual, unless explicitly disabled.

[2016-09-18 07:29] danielbayerlein opened #88 "Support for homePageUrl"
At the moment eureka-js-client supports `healthCheckUrl` and `statusPageUrl`. I miss the support for `homePageUrl`. Are you interested in a PR that support that?

Eureka REST documentation: https://github.com/Netflix/eureka/wiki/Eureka-REST-operations

[2016-09-18 07:45] jquatier commented on #88
Thanks for the heads up! We currently POST the entire `config.instance` block on the register request. So, technically `homePageUrl` is already supported if you just add it to your config block. That being said, we do have some code around `statusPageUrl` and `healthCheckUrl` in the `addInstanceMetadata` method [here](https://github.com/jquatier/eureka-js-client/blob/master/src/EurekaClient.js#L41

[2016-09-18 21:36] jquatier commented on #88
Thanks @danielbayerlein! Just published v4.1.0.

[2016-09-18 21:36] #88 closed

[2016-09-26 05:20] zhudan opened #90 "Do you have plan to support Http on vipAddress?"
Do you have plan to support Http on vipAddress ? Call http interface between micro services。

[2016-09-26 16:54] jquatier commented on #90
I think what you are describing is similar to Ribbon, which is what Netflix uses for communicating between services. (https://github.com/Netflix/ribbon). This module is designed to be purely a Eureka client for registration and fetching the registry. Once the registry is fetched you can make requests to those instances using a variety of HTTP clients. You'll also have to decide what strategy to us

[2016-09-26 16:54] #90 closed

[2016-09-27 02:41] zhudan commented on #90
@jquatier ok,3qu,

recommend： https://github.com/resilient-http/resilient.js

[2016-10-18 19:37] mhamann opened #91 "`started` event should not be emitted if the Eureka connection failed to start"
According to the docs, the client should emit the `started` event when "the eureka client is fully registered and all registries have been updated."

However, based on the code here, it seems like the `started` event is fired no matter what.
https://github.com/jquatier/eureka-js-client/blob/fb80dd6740d45ec480e497a9c7b386024357e9ff/src/EurekaClient.js#L148

So, if you have an app depending on Eurek

[2016-10-19 01:36] jquatier commented on #91
Thanks for finding this @mhamann! Fixed in v4.1.1

[2016-10-19 01:36] #91 closed

[2016-11-04 13:24] britztopher opened #95 "400 Bad Request from Amazon when Registering"
For some reason Im getting a 400 back when registering with a Eureka on Amazon.  At first I thought it had to do with the known issue with eureka js client, however, after apply the fixes for that issue it works locally, but not when datacenter object is Amazon.  It seems to fetch the metadata from amazon, applies it to the eureka-js-client config object using local, then make the POST request, bu

[2016-11-04 17:51] jquatier commented on #95
Hey, I think we can figure this out. For Amazon datacenters (and the newer eureka JSON format), I think you'll need to pass a different value for `@class`. Try using: `com.netflix.appinfo.AmazonInfo`.

If you still get a bad request, sometimes it helps to make the request manually to the service (since that's all this client does), if you have Postman or a similar tool, that would work. You can al

[2016-11-04 18:35] britztopher commented on #95
Ok Ill give that new class a go ahead.  For the debug I actually set the `NODE_DEBUG=request` variable, however, since the EurekaClient.js file doesnt parse the json back from an error response the logs state the body as [Object:ojbect]` FYI.

[2016-11-04 19:55] jquatier commented on #95
Cool, let me know. As far as debugging, turning on 'NODE_DEBUG' will actually log out the full request and response details, since we use 'request' under the hood. If you aren't seeing that I would try just passing it in like 'NODE_DEBUG=request node app.js'

[2016-11-04 20:56] britztopher commented on #95
@jquatier that seemed to work.  Im guessing others would benefit with updated docs, so i can do it and open a pr or you can.  Up to you

[2016-11-04 21:33] jquatier commented on #95
I was thinking the same thing. PR would be great! Thanks! 👍

[2016-11-08 20:11] cmitchell opened #96 "Calling from outside of React works, but not from within React"
Forgive me if this isn't a true bug, but is more my ignorance. I'm really a java/golang dev, and my js kung fu is weak. I am using spring cloud. I have a scenario where I am SUCCESSFULLY able to connect to the eureka registry, but that connection happens at webpack time and I need it to be at load time.

So, I have a reducers/eureka.js with the following  (which works in the first scenario just fi

[2016-11-08 20:38] cmitchell commented on #96
Actually, taking react out of the picture, so just doing this in my index.js

[code]

Also gives the same issue. I know it says "INFO", but I'm pretty sure it's an error. The app doesn't register when that "INFO" message is output, and it does when it's not.

[2016-11-08 21:38] jquatier commented on #95
Closing this out. If you have time for a PR to the README let me know, otherwise I'll take care of it.

[2016-11-08 21:38] #95 closed

[2016-11-09 06:13] jquatier commented on #96
Hey @cmitchell, Thanks for the details.

I haven't heard of anyone registering a client-side React app in Eureka, because it's not an application server. It's just running in a web browser, correct? Eureka is typically used as a registry for application server instances (in AWS or other data centers). Since registering with Eureka is really only important when you want other servers to be able to

[2016-11-09 14:00] cmitchell commented on #96
Hi,

  Thanks, I just realized that I just need the UI to his the restful endoints of Eureka to discover the location of the services it needs, and that i don't need to register to do that.  Sorry for the confusion.

[2016-11-09 15:52] #96 closed

[2017-01-12 21:02] mhamann opened #101 "Registry fails to update if VIP address isn't present"
If the VIP address in Eureka is not present, the registry will no longer update successfully when attempting to parse out multiple VIP addresses separated by a comma. This issue was introduced in 4.1.3.

[2017-01-13 03:39] #101 closed

[2017-01-13 05:12] jquatier commented on #101
Thanks @mhamann!

[2017-01-16 21:07] cwoodworth opened #103 "Refresh Eureka Client OAuth Token"
Is it possible to refresh the custom client middleware on a reoccurring basis?  My service registry is running behind OAuth 2.0 and requires a token refresh every 30 seconds.  I don't see a way in the README to hook into the running client and modify the auth once it has been created.  Any help you can provide is greatly appreciated.

[code]

[2017-01-17 05:23] jquatier commented on #103
Hey @cwoodworth, Thanks for the question. We added the `requestMiddleware` feature recently, and made it support asynchronous functions for this exact purpose (oAuth). The goal of the request middleware functionality was to allow users to execute any code they required before the request executes. The middleware function is called on EVERY request, so you can execute whatever actions are needed fo

[2017-01-17 05:26] cwoodworth commented on #103
Awesome, thanks! This is exactly what I was hoping for.  I'll give it a shot tomorrow.

[2017-01-17 18:08] #103 closed

[2017-01-19 02:27] shaileshfsr opened #104 "Enable setting the hostName as the ipAddress"
Spring Cloud Eureka client configuration allows using the IP Address of the host to be used as the host name rather than the hostname that is by default assigned. This is particularly helpful in AWS environments where the hostname is not in many cases resolvable by your DNS server. E.g. the default host name that AWS assigns is of the type ip-XX-XX-XX-XX and this many times does not resolved depen

[2017-01-19 03:49] jquatier commented on #104
Hey @shaileshfsr, Thanks for the report. I just put in a PR to add this since it was a minor change. Feel free to take a look. Once the code is reviewed we'll get a new version published.

[2017-01-19 18:11] ransikafs commented on #104
Hi @jquatier Thanks for a great library. Currently we are having Spring and NodeJS base micro services app which has a Spring API Gateway (written in Java). The Gateway can access the Java base micro services through Feign client without any problem.

But when trying to access the NodeJS based micro service, we always get "Caused by: com.netflix.client.ClientException: Load balancer does not have

[2017-01-19 18:30] jquatier commented on #104
@ransikafs The PR hasn't be merged yet, so the `preferIpAddress` option will not work since the code is not there. We'll publish a new version today so that you can upgrade your `package.json` to use it.

[2017-01-19 18:57] ransikafs commented on #104
@jquatier thank you so much.

[2017-01-20 01:36] #104 closed

[2017-01-20 01:40] jquatier commented on #104
`preferIpAddress` option is now available in v4.2.0

[2017-01-20 03:17] ransikafs commented on #104
@jquatier Thank you so much. I am going to try it now.

[2017-01-20 07:28] ransikafs commented on #104
@jquatier I have added the preferIpAddress attribute and the eureka registers with the local IP. But unfortunately, I still get the same error
"Caused by: com.netflix.client.ClientException: Load balancer does not have available server for client: MEMBER-SERVICE"

<img width="1280" alt="screen shot 2017-01-20 at 12 58 33 pm" src="https://cloud.githubusercontent.com/assets/20202478/22140014/e4b69c6

[2017-01-20 07:44] jquatier commented on #104
@ransikafs Looks like the eureka client is working correctly and registering the application, so that's good from this modules perspective. One thing I noticed in your screenshot is that you are still registering with a `vipAddress` of "test-something.com" which seems to be just copy paste from my example code. If your Spring API gateway is using vip addresses to look up instances, this could be t

[2017-01-20 07:51] ransikafs commented on #104
Wow man, you are the best. It's working perfectly now. Thank you so much.

[2017-01-24 21:01] fabiogomezdiaz opened #106 "Need help getting started when using domains vs plain IP addresses"
Let's say I have the following
- **Eureka** deployed at:
  - https://netflix-eureka-fabio.mybluemix.net/
  - Note I don't need to specify the port as networking takes care of it
- **Node.js App** deployed at:
  - https://node-app-fabio.mybluemix.net/
  - Same port scenario as above

Bluemix (from IBM) is a platform as a service offering, much like Heroku.

Is this the correct way to set things up?

[2017-01-24 22:11] jquatier commented on #106
@fabiogomezdiaz I definitely would not set port to `true` as that will probably cause adverse effects. If your server is simply available without a port in your browser, that means it's on port `80` or `443` if its https so I would use that in your config. As for the 404 errors, those usually happen when it can't find the Eureka REST service. You may need to locate what path the service is located

[2017-01-31 06:22] #106 closed

[2017-01-31 20:39] trinakria commented on #86
Hi jquatier,

any update on this? I am in the same situation as @mhamann  where I don't want to register each client ui that needs access to the registry.

[2017-02-02 01:42] jquatier commented on #86
@trinakria PR is in flight for this.

[2017-02-03 07:40] #86 closed

[2017-03-23 14:32] fjvieira opened #112 "Health status should be propagated to Eureka / custom healthcheck handlers"
Hello,

I am facing a issue now because of the following case:

The heartbeat does not change the status that is registered in Eureka.

So, for some reason the application /health endpoint returns down, in Eureka is still UP.

The heartbeat should consider the current health indicator.

[2017-03-23 23:54] jquatier commented on #112
Hey @fjvieira,
The Eureka server's status of an application is only determined based off heartbeats, it does not call the healthcheck URL. In a typical Netflix OSS stack the healthcheck URL callback is really only used by Asgard and ELBs to determine if the instance is ready to receive traffic. It's an optional field. This is documented [here](https://github.com/Netflix/asgard/wiki/Eureka-Integrat

[2017-03-24 09:45] fjvieira commented on #112
@jquatier

Hello, initally I understood the same you described. We am using Eureka + Spinnaker to run the CD process and the behavior is somewhat similar (Asgard).
The Eureka documentation from Netflix was implemented AS-IS, i.e. as described [here](https://github.com/Netflix/eureka/wiki/Eureka-REST-operations).
Note that in the **Take instance out of service** action, you can change the status us

[2017-03-24 23:16] jquatier commented on #82
Hey @dflor003 just checking if you wanted to share what you needed to do to get things running on Pivotal Cloud Foundry. It might be useful to add a snippet in our docs. Thanks again!

[2017-03-24 23:57] jquatier commented on #112
@fjvieira Thanks for the further details. I misunderstood you because I thought you wanted the Eureka server to call the `healthcheckUrl`. On reading Spring Cloud's implementation I think we could implement something similar. Here's what I'm thinking, let me know your thoughts:

To keep things flexible we could add an optional callback to the configuration `healthcheckHandler` that is invoked on e

[2017-03-27 08:31] fjvieira commented on #112
@jquatier Hello. I like the callback idea.
Regarding the heartbeat, the application still needs send it, because after send the status, the heartbeat will indicate that instance is running (besides the unhealthy or out of service status).
Spinnaker and other tools that implement Red/Black deployment use the out of service status in that process, so we must take care of it.

As a workaround, By now

[2017-03-27 21:25] jquatier commented on #112
@fjvieira I think we are actually talking about two different things. The OUT_OF_SERVICE status is usually only be set from management consoles like spinnaker or asgard as a facility to do red/black deploys (specifically to direct [traffic flow](https://github.com/Netflix/eureka/wiki/Understanding-eureka-client-server-communication#about-instance-statuses)). The application itself is usually only

[2017-03-28 08:08] fjvieira commented on #112
@jquatier Hello, Jacob. No, we are talking about the same behavior.
You are completely right about OUT_OF_SERVICE status. What I tried to mean is that after some tests I found the following problem:
- I acted on behalf of Spinnaker, setting the status to OUT_OF_SERVICE. The status of instance automatically turns to OUT_OF_SERVICE and Eureka serves this in the register;
- The application will recei

[2017-03-28 09:22] fjvieira commented on #112
Going further,

I was debbuging Eureka server and client (java).

I noticed that the heartbeat PUT request was

/eureka/apps/appID/instanceID?status=UP&lastDirtyTimestamp=1490691499240

Investigating this lastDirtyTimestamp parameter, you can read [here](https://github.com/Netflix/eureka/blob/master/eureka-core/src/main/java/com/netflix/eureka/resources/InstanceResource.java) the following:

So I

[2017-03-29 04:45] jquatier commented on #112
@fjvieira Thanks for the additional detail. Hope I'm not misunderstanding anything. A few more clarifications:

I understand the problem, but this scenario would only happen if you were calling the "Take instance out of service" REST endpoint (`instanceId/status?value=DOWN`), which you did say above you modified your application to call by overriding the `renew()` method and adding it to the insta

[2017-03-30 08:18] ikercrg opened #113 "The Eureka is broken when I register a service"
I have a Eureka with other services registered on it which works correctly.

The problem is that I am trying to register a javascript application with eureka-js-client, and apparently the registration goes well but, after it, I cannot access anymore the Eureka because I get nullpointerException and the Eureka is down.

I am working with AWS and I passed the Eureka host and Eureka port via environm

[2017-03-30 08:44] ikercrg commented on #113
It seems like it was the following:

This was missing in the configuration:
statusPageUrl: 'http://__HOST__:8081',
healthCheckUrl: 'http://__HOST__:8081',
homePageUrl: 'http://__HOST__:8081',

Strange, because the registration was correct

[2017-03-30 08:44] #113 closed

[2017-03-30 16:42] fjvieira commented on #112
@jquatier Hello.
I think now I understood your point.

Java clients request looks like it:
PUT .../eureka/apps/appID/instanceID?status=UP&lastDirtyTimestamp=1490691499240
And Spinnaker request looks like it
PUT .../eureka/apps/appID/instanceID/status?value=OUT_OF_SERVICE (OR UP)

Analyzing and debugging the behavior of implementations in Java (client and [server](https://github.com/Netflix/eureka/

[2017-03-30 16:55] jquatier commented on #113
Yeah, I think this has come up before. For whatever reason, in the Spring Cloud version of Eureka those URLs seem to be required. I'll make a quick update to the README and reference this issue for posterity. Glad you got it working!

[2017-03-31 02:40] jquatier commented on #112
@fjvieira Yeah those 2 endpoints are confusing because they look very similar.

Keep in mind that clients cache the registry and may not have the most up-to-date picture of the world when they make the request. Even if you were able to update the registry to let clients know if the service was DOWN, they would likely not know about it until the next refresh of their cache. Requests would still go

[2017-03-31 08:25] nocturnalme commented on #112
@jquatier Exactly.

The client has load balancing (round robin as default one) and a circuit breaker (based on IP, if my memory is correct). This is the reason Netflix does not care about it.
So, if you plan to use another technology, you must ship those features in your software.
I developed the load balancing feature to JS and it will be necessary to implement/adopt a circuit breaker+ some retry

[2017-03-31 16:15] jquatier commented on #112
@nocturnalme If you're looking for a circuit breaker I highly recommend [Brakes](https://github.com/awolden/brakes). Good luck with the project!

[2017-05-06 22:06] cpeddecord opened #115 "Happy Birthday"
🎂

If this status is checked today, I'll be very disappointed

[2017-05-07 23:08] jquatier commented on #115
Thanks. Birthday complete.

[2017-05-07 23:08] #115 closed

[2017-06-01 02:14] fatshaw opened #121 "spring cloud robbin cannot find service"
I register client with code below. And in the spring eureka website i can see the service i registered. but i cannot get service info with robbin.

const Eureka = require('eureka-js-client').Eureka;

// example configuration

const client = new Eureka({
  // application instance information
  instance: {
    app: 'jqservice',
    hostName: '192.168.76.82',
    ipAddr: '192.168.76.82',
    port: {

[2017-06-01 17:44] jquatier commented on #121
If the Eureka website shows the service registered, that means this module is working correctly. As for accessing the service, it depends on how you are making the request. It looks like you are setting the `vipAddress` to my example vip still, so you may want to adjust that value to the name of your application. Then, in the code that accesses the service (Ribbon, etc), use the correct vip addres

[2017-06-01 17:44] #121 closed

[2017-06-13 12:21] pmascheroni opened #122 "Getting list of all apps and their instances in a List"
Spring Could Eureka client configuration already has two functions, getInstancesByAppId() and getInstancesByVipAddress() which allow for access to individual instances of apps/microservices.  The ability to access all apps and their instances is not integrated, however this would make it easy to search for specific apps if the VipAddress or AppId is not know.

For organization and fast access/sear

[2017-06-29 19:25] shaileshfsr commented on #122
This will be a very helpful feature for us since we want to show a list of all micro services registered with Eureka to generate some useful developer facing documentation

[2017-07-14 19:05] nkravi opened #123 "Eureka client heart beat stopped but still showing in Eureka server"
I have stopped my eureka client. But still the client name shows up on Eureka server.
Here is my code.
Am I missing something here?

const Eureka = require('eureka-js-client').Eureka;
var express = require('express')
var ip = require("ip");

const client = new Eureka({
  // application instance information
  instance: {
    app: 'frontend',
    instanceId : 'feapp',
    hostName: 'localhost',

[2017-07-14 22:55] jquatier commented on #123
The Eureka server doesn't drop the instance out of the registry immediately. It waits until it hasn't seen a heartbeat from that server in several minutes (configurable).

[2017-07-14 22:55] #123 closed

[2017-07-15 16:32] nkravi commented on #123
thanks @jquatier . Does this configuration has to be from server side or client side? If it is from the client side what is the parameter i need to set?

[2017-07-15 16:45] jquatier commented on #123
It's a setting on the Eureka server that applies to all registrations.

[2017-07-15 16:49] nkravi commented on #123
I am little bit confused here. I have other clients which uses spring cloud(Eureka discovery). Eureka server immediately evicts these clients when heart-beat is stopped. But Nodejs client stays there for hours

[2017-07-15 17:52] jquatier commented on #123
That's not really possible unless another instance is still sending heartbeats using the same app ID and instance ID. I would take a look at the last updated timestamp in the registry and debug from there. Your Eureka server will only drop records out if it hasn't gotten a heartbeat.

[2017-07-19 03:12] #112 closed

[2017-07-19 03:16] jquatier commented on #122
My apologies for the delay on this. I understand the need, it sounds like an interesting project. Since you just want the complete registry in a list, it might just be easiest to call the Eureka REST service directly i.e. `<SERVER_HOST_PORT>/apps` (the same service this client calls). That will return everything all in one shot as JSON and you can sort/filter from there. If you don't want to do th

[2017-07-19 03:16] #122 closed

[2017-07-23 19:30] sperezme commented on #63
trying similar configuration i get this error

Listening at http://:::5000
Problem making eureka request { [Error: connect ECONNREFUSED 127.0.0.1:8761]
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 8761 }

Any ideas?

[2017-07-23 19:33] sperezme commented on #63
const express = require('express');
const path = require('path');
const port = process.env.PORT || 3090;
const app = express();
app.use(express.static(__dirname));

const bodyParser = require('body-parser');
app.use(bodyParser.urlencoded({extended: false}));
app.use(bodyParser.json());

app.get('*', (req, res) => {
  res.sendFile(path.resolve(__dirname, 'index.html'))
});

const Eureka = require('

[2017-07-23 19:40] sperezme commented on #63
I am trying to run this locally after running  docker run -it -p 8761:8761 springcloud/eureka  on my local docker console.  In fact want i really want to achieve is to register this node.js service in my eureka-server in heroku. So far i can register a regular eureka-client demo without problems. But i am getting really confused with the configuration when the microservice is in node.js.    I thou

[2017-07-23 23:50] jquatier commented on #63
Hey @sperezme, that connection error (`ECONNREFUSED 127.0.0.1:8761`), means that the module can't connect to Eureka at that host/port. Before doing anything in Node, or with this client, you'll need to figure out why the Eureka server isn't responding on port 8761.

It looks like you are using docker to start a Eureka server on that port, so it's possible the service isn't running yet. I'd wait a

[2017-08-02 23:19] Janking opened #124 "How do I know the microservice is closed？"
I had multiple microservices, when I registered successfully,

`instance.length > 1` and I choose one of the instances randomly

`const instances = client.getInstancesByAppId('YOURSERVICE');`

if I shutdown one of the microservice,how to detect it immediately ?

[2017-08-03 01:15] jquatier commented on #124
Hey @Janking,

If you shut down the service, it will stop sending heartbeats to the Eureka server and eventually fall out of the registry. Both the Java client and this Eureka client cache the registry for a configurable amount of time, so it's always possible you will send a request to an instance that has gone down. In addition to that, the Eureka server won't drop it out of the registry until s

[2017-08-03 01:15] #124 closed

[2017-08-03 01:24] Janking commented on #124
@jquatier  Thanks , but I don't know how to use Robbin in node project ,  can you provide any examples ? ☹️

[2017-08-03 17:29] awolden commented on #124
Hey @Janking,

Unfortunately there is no drop in replacement for ribbon in node, but you can use a library like https://www.npmjs.com/package/resilient. And then use this eureka client to supply the resilient client with a list of servers (https://www.npmjs.com/package/resilient#discovery).

Hopefully that information helps!

-Alex

[2017-08-04 13:34] Janking commented on #124
@awolden Thank you very much !

[2017-09-26 15:37] NetoDevel commented on #75
I think it's interesting to put round robin load balancing, why when you communicate with another service through
`const instances = client.getInstancesByAppId ('YOURSERVICE');`
you will overload a single instance with many request.

@jquatier  the eureka has the ribbon inlaid.
So when you setup:
`ribbon.eureka.enabled = false`
the client `const instances = client.getInstancesByAppId ('YOURSERVICE

[2017-09-26 23:53] jquatier commented on #75
I haven't seen a direct replacement for Ribbon in JS. Typically users of this module implement their own http client with load balancing built-in along with other things like retries and circuit breaking. In any case, if one was developed it could easily pull in this module for it's discovery client, similar to how Ribbon and the Java Eureka client work together. Ideally, the load balancer should

[2017-12-18 11:09] dileepkeeppalli commented on #62
@jquatier After I register my node service with eureka server When I try to access node api through api-gateway, getting this error Caused by: com.netflix.client.ClientException: Load balancer does not have available server for client: myApp.

[2017-12-19 06:25] dileepkeeppalli opened #129 "NodeJS Application unable to access from Zuul API Gateway"
Hi @jquatier,

Created a NodeJS(Using ExpressJS) micro-service and registered it with Eureka Discovery Server using eureka-js-client (https://www.npmjs.com/package/eureka-js-client).

I already have some Java based micro-services registered with Eureka and using it through Zuul API Gateway.

When I try to invoke a specific end point on my NodeJS micro-service via API Gateway, it throws error

Caus

[2017-12-19 19:36] jquatier commented on #129
Hey @dileepkeeppalli,

Looks like your node app successfully registered with Eureka, which is what this module is in charge of. I see your application is UP in Eureka too, which means heartbeats are working. In that case, I think your issue is a problem on the load balancer configuration side or possibly with your healthcheck URL. Feel free to post your configuration as more detail.

My advice wou

[2017-12-19 19:36] #129 closed

[2018-01-15 15:14] sachinsharma opened #130 "NODE_DEBUG=request does not tell me what is response body"
I am trying to get and instance by appId by using the method. However the log says "Unable to retrieve instances for appId: '<my-app-id>'"

I think I am not passing the app-id properly and want to look what is retrieved from the eureka server when the following endpoint is called: http://my-eureka-server:80/eureka/apps/

Setting NODE_DEBUG=request tells me that the url was called successfully and

[2018-01-15 15:53] sachinsharma commented on #130
I mean I can access the url in browser and see response in xml format.
But I assumed whatever is being returned in <app> and <vipAddress> tags will be read by the eureka-js-client package and will be returned in the method calls

const instances = client.getInstancesByAppId('xxxx-microservices');
const instances = client.getInstancesByVipAddress('xxxx-microservices');

But that is not the case. So

[2018-01-17 10:59] sachinsharma commented on #130
OK.

The problem was two-fold here.
And none of them belonged here in this forum.

First was related to the process of debugging nodejs apps themselves.
=============
NODE_DEBUG=request is a basic way of debugging but for more details, we need to use the --inspect option while starting the node app and with it comes all the tunneling stuff and chrome://inspect thing.
I became familiar with it and

[2018-01-17 10:59] #130 closed

[2018-01-17 18:39] jquatier commented on #130
Glad you figured it out 👍

[2018-01-21 19:07] rohitnagesh opened #131 "Unable to register with eureka on docker"
I have a nodejs applications running on a docker container which I want to register with my eureka instance running on another docker container. Now when I start the containers, using the docker compose, my node-js applications is not getting registered with the eureka server.

Here is my client configuration on node js application
[code]
and the docker-compose.yml
[code]
My similar configuration

[2018-01-21 22:15] seanohollaren commented on #131
When debugging connection issues, it can be useful to set `NODE_DEBUG=request` so that you can watch the calls that eureka-js-client is making and see where it's failing.  Failure to register is often either an app issue (crashes on launch) or a network issue (unable to hit the eureka server it's trying to register with).

[2018-01-22 21:12] jquatier commented on #131
This is likely a connection issue as stated above. Starting with debug enabled should help diagnose what's failing.

[2018-01-22 21:12] #131 closed

[2018-02-01 03:40] MichaelWMerritt opened #132 "dns dependency not found for DnsClusterResolver.js"
I am trying to use this module for registering my app with my Eureka server.  It is an Angular app.  However, when I try to run the application is gives a compile failure due to dns dependency not found.  dns is required by DnsClusterResolver.js but I don't see where dns is a dependency.

[2018-02-01 23:57] jquatier commented on #132
DNS is included in node.js, which is where this module should be instantiated. This module is typically used on the application server, so if there's a Node.js application serving up the page, it would make more sense to instantiate the eureka-client there, instead of in the code that runs in the web browser. Else, anyone loading up the web application would end up registering with Eureka. Hope th

[2018-02-01 23:57] #132 closed

[2018-02-15 18:47] famargon opened #133 "Update spring cloud configuration"
Hi,
in [this](https://github.com/spring-cloud/spring-cloud-netflix/issues/2588#issuecomment-366009329) issue we discussed about a problem with zuul and microservices registered in eureka with eureka-js-client. Today I found that the problem was in the eureka-js-client configuration. It will be cool to update the sample configuration to spring cloud.

[code]
Thank you!!

[2018-02-15 18:59] jquatier commented on #133
We have this in the README already under a [section](https://github.com/jquatier/eureka-js-client#usage-with-spring-cloud) for Spring Cloud. We have to have both types of config because different users are using different versions of Eureka.

[2018-02-15 18:59] #133 closed

[2018-02-15 19:52] famargon commented on #133
The instanceId is neccesary to make ribbon work with eureka

[2018-02-15 21:53] jquatier commented on #133
It depends on the deployment. Under AWS deploys, the instance ID comes from the AWS metadata. We also allow it to be configured, else it defaults to the hostName. It's not required in all spring cloud deployments, since it depends on the usage.

[2018-02-26 18:29] poushy opened #134 "Latest package is throwing hoek vulnerability"
Latest package is throwing hoek vulnerability

[2018-03-07 03:43] jquatier commented on #134
latest package passes NSP check

[2018-03-07 03:43] #134 closed

[2018-04-06 09:01] dlarr opened #136 "Unable to retrieve full registry from Eureka server"
Hello,

I am trying to use a  Eureka as a proof of concept to enable service discovery and directory. I managed to compile Eureka and get it running on a tomcat.

I used this eureka-js-client lib in order to register a service. That is working. Eureka interface shows my service :
![image](https://user-images.githubusercontent.com/2865021/38412311-578d5d52-3989-11e8-956d-f9ec2669d5c2.png)

I also g

[2018-04-07 00:40] jquatier commented on #136
It would be interesting to hit: http://192.168.1.59:8080/eureka/v2/apps/ to see what it returns. It looks like that request may be failing.

`curl -v http://192.168.1.59:8080/eureka/v2/apps/`

[2018-04-11 10:31] dlarr commented on #136
Hey, after 15 minutes of Eureka server running, The error was gone, without any changes of my own. I had the chance afterward to hit this URL it was returning XML data about the services. I had to move on as my client didn't want me to spend too much time on this matter. But Eureka service directory will be use in the future (I don't know when) so When I will start again this service, I'll see if

[2018-04-12 00:42] #136 closed

[2018-05-01 22:14] maksimlikharev opened #137 "there should be optional callback/function that is checked in the heartbeat"
it needs a logic to fail to register based on internal checks, that can be passed to a client.

This is a use case.

1. service starts, registers in the eureka, starts heartbeat
2. during a life of the service, something falls off, healthcheck will report error, if called, but eureka status will be UP

rationale, sync healthchecks with heartbeat, this is pretty much what java driver does.

I can p

[2018-05-01 23:01] seanohollaren commented on #137
Shouldn't this logic be in your own service's code wherever you register the heartbeat listener?

Since your service is the one answering heartbeat requests, you can instead change that logic to be dependent on whatever you want instead of always responding with 200.

[2018-05-01 23:16] maksimlikharev commented on #137
Heartbeat registered inside EurekaJS component if I want to register with eureka

And it will be called regardless if my instance is healthy or not, what I want is to be able to provide a feedback to re-registration loop with health.

Java driver has this, always had:

void refreshInstanceInfo() {
   applicationInfoManager.refreshDataCenterInfoIfRequired();
   applicationInfoManager.refreshLeaseIn

[2018-05-02 01:02] maksimlikharev commented on #137
service up or down is dynamic , it can be up and after some time it might be down,
node service runs, usually, under supervisor, so even if I kill the service, it will be restarted, repeating the circle, this is what I observe for node services in our env, java services, btw, behaving much more predictable in similar situation.

[2018-05-04 15:55] mfulton26 opened #138 "no instance"
I would like to use `eureka-js-client` in my test code. As such, I do not need (nor want) to register an instance with Eureka. How might I be able to make a read-only Eureka client with `eureka-js-client`? Thanks.

[2018-05-04 15:58] mfulton26 commented on #138
Never mind, I found `registerWithEureka`.

FYI: I got `TypeError: Missing "instance.app" config value.` when I first tried. It might be good to include in the error message a note/hint that `registerWithEureka` can be used if the user does not want to register an instance.

[2018-05-04 15:58] #138 closed

[2018-05-06 18:26] austinmcorso opened #139 "Built-in AWS ECS Support"
AWS ECS uses different metadata, let's add support for that out of the box.

[2018-05-06 18:36] austinmcorso commented on #139
https://github.com/jquatier/eureka-js-client/pull/140

[2018-06-21 10:50] AlessioMTX commented on #138
Could you explain what  you did? I don't find instances too

[2018-06-27 13:50] mikhas-rock opened #141 "Abstract specific configuration eureka version configuration"
I wonder if the library could abstract the eureka version specific configuration so users doesn't have to care about setting attributes such as `{'$': port,'@enabled': 'true'}` or `'@class':'com.netflix...'`

Not sure if there is an API call we can do to identify Eureka API compatibility.

[2018-06-27 18:38] jquatier commented on #141
Not really. Theres a good discussion on the API differences that I linked to in the readme. The changes occurred in a minor version rev of Eureka, and there's also been some differences in the Spring Cloud flavor of Eureka. I think the config today is nice because its flexible with any other future differences, but it would be hard to track all of those. Anyway, for now I've just been trying to ke

[2018-06-27 18:38] #141 closed

[2018-08-02 13:05] yuu2lee4 opened #143 "support typescript?"
The definition in the typescript official repertory is older

[2018-08-13 12:38] akazakou commented on #143
I created TypeScript definitions in #142 but it opens already a month :(

[2018-08-13 19:09] jquatier commented on #143
should a PR be made to the typescript repo instead? Just wondering what the best set of definitions is.

[2018-08-13 20:03] akazakou commented on #143
Better then you will maintain TypeScript definitions at yours package source code, to my mind

[2018-08-14 00:42] yuu2lee4 commented on #143
Maintain d.ts at it's own package's repo is the best practice.

[2018-08-22 20:07] gandhiamarnadh opened #144 "alternative to inetutils"
using preferrednetworks  in inetutils we were able to register network ip address on which the service is running in spring apps.

is there any alternative to achieve this for node apps.

https://github.com/spring-cloud/spring-cloud-commons/blob/master/docs/src/main/asciidoc/spring-cloud-commons.adoc#ignore-network-interfaces

[2018-09-10 19:37] danielsan commented on #144
I tried to pass **dataCenterInfo.metadata** with my **local-ipv4** but this:

Is actually overwriting all my configs. Which doesn't make sense.

The arguments should be passed to the merge function in the opposite order.

[2018-09-10 21:07] jquatier commented on #137
Agreed but in the normal pattern clients use load balancing and circuit breaking anyway, since their cache may be out of date. Closing for now, if you want to PR this feature, send it over. Thanks!

[2018-09-10 21:07] #137 closed

[2018-10-10 12:29] andresmafra opened #146 "Request to another apps in Eureka"
Hi, thanks for the API, it's is very helpful.

But, I couldn't understand how can I make a request  to another app registered in same Eureka that my app are.

I use the function **getInstancesByAppId** for list my app, and it works as expected.

But, how can I make a request for this another app?

Regards.

[2018-10-11 04:50] seanohollaren commented on #146
Once you know the IPs of the service instances, you can just perform requests to them the same way you'd perform any other HTTP requests, like with the `request` module.

[2018-10-11 13:46] jquatier commented on #146
Agreed. This module is used for service discovery, the requests can be done with any http library.

[2018-10-11 13:46] #146 closed

[2018-10-22 22:08] kiranmanda opened #147 "Use Delta not able to handle OUT_OF_SERVICE status when the instances are disabled"
Steps to reproduce:
1. Turn the flag `shouldUseDelta` true.
2. Make the instances go `OUT_OF_SERVICE` by disabling the instances.
Note: Terminating instances works as expected.

Expected Behavior:
The cache values for these instances should be marked as `OUT_OF_SERVICE`

Actual Behavior:
The cache values remain as `UP`
[code]

[2018-10-22 22:28] kiranmanda commented on #147
The root cause of the problem is in this line.. https://github.com/jquatier/eureka-js-client/blob/v4.4.1/src/EurekaClient.js#L487

Its because the `modifyInstance()` function is returning back to the caller when the the instance is not in `UP` status. So the cache is never updated to the `OUT_OF_SERVICE` status.

You could get around this by turning off or setting `filterUpInstances` to `false`.

[2018-10-23 21:29] kiranmanda commented on #147
Thanks Alex, I created a PR based on your recommendation.

[2018-10-31 21:47] kiranmanda commented on #147
This is fixed as part of this PR https://github.com/jquatier/eureka-js-client/pull/148

[2018-10-31 21:47] #147 closed

[2018-11-26 03:05] yuu2lee4 opened #149 "get instances when not registry to eureka"
I just want get instances from eureka

[2018-11-26 03:10] yuu2lee4 commented on #149
I fonud eureka.registerWithEureka

[2018-11-26 03:10] #149 closed

[2019-01-03 14:53] colin-riddell commented on #75
Newbie question on this: Does this mean that eureka-js-client won't work with other services using ribbon?

[2019-01-04 01:45] jquatier commented on #75
It works great with all kinds of services, including those using ribbon. Ribbon and Eureka are 2 very different things. Ribbon is a software load balancer and Eureka is a service registry. They are often used together; Eureka will return a list of servers that are hosting the desired microservice, and Ribbon will balance between those servers.

This library only aims to be a eureka client for retr

[2019-02-09 13:13] KPapam opened #150 "Uri resolution"
I am trying to set up a local environment without docker(currently) and have a Spring Eureka server and a Spring Discovery. Now i try to connect a Node Js server to the ecosystem to process some data through it, however even though the service registers on Eureka, the URI doesn't get resolved. Here's what the discovery client outputs:

[code]

Here's my configuration of eureka-js-client:

[code]

[2019-02-12 04:26] jquatier commented on #150
Looks good! Since you successfully registered and the registration on the server looks complete, theres not much else I can do. This module only handles the registration. My guess is that the calling code on the Spring app needs to be modified as it's getting a null pointer exception.

[2019-02-12 04:26] #150 closed

[2019-03-06 13:04] akazakou commented on #143
It opened for 7 months. I'll move that to @types/eureka-js-client